@font-face {
  font-family: "Playfair";
  src: url(../../assets/fonts/PlayfairDisplaySC-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../../assets/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../../assets/fonts/Lora-VariableFont_wght.ttf);
}
body {
  background: url(../../assets/img/bg-header01.jpeg) center/cover fixed;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  font-family: Lora, sans-serif;
  color: black;
  text-decoration: none;
}

p {
  font-family: Lora, sans-serif;
}

h2,
h3,
h4 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}

header {
  height: 100vh;
  width: 100%;
  position: relative;
}
header .title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .title .title-container {
  background: rgba(245, 245, 245, 0.5);
  text-align: center;
  padding: 20px;
}
header .title .title-container h1 {
  font-family: Playfair, sans-serif;
  font-size: 4rem;
  padding-bottom: 20px;
  text-shadow: 3px 3px 5px #457995;
}
header .title .title-container h2 {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px #457995;
}

@media screen and (max-width: 550px) {
  .navbar {
    width: 100%;
  }
}

footer {
  padding: 30px;
  width: 80%;
  margin: 0 auto;
  background: #457995;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Lora, sans-serif;
}
@media screen and (max-width: 870px) {
  footer {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  footer {
    width: 100%;
  }
}
footer .copyright {
  text-align: center;
  color: #eeeeee;
}
footer .mentions-legales a {
  color: #eeeeee;
  font-weight: bold;
  padding-bottom: 20px;
}
footer .network ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer .network ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  font-size: 1.5rem;
}
footer .network ul li i {
  color: #eeeeee;
}

body {
  background: url(../../../assets/img/bg-header01.jpeg) center/cover fixed;
}

.navbar {
  height: 60px;
  width: 80%;
  margin: 0 auto;
  background: rgba(245, 245, 245, 0.5);
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.navbar:hover li:not(:hover) {
  background: none;
}
.navbar:hover li:not(:hover) a {
  color: black;
}
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}
.navbar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  height: 100%;
  cursor: pointer;
}
.navbar ul li a {
  text-transform: uppercase;
  font-weight: bold;
}
.navbar ul li:nth-child(2) {
  background: rgba(69, 121, 149, 0.5);
}
.navbar ul li:nth-child(2) a {
  color: #eeeeee;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.navbar ul li:hover {
  background: rgba(69, 121, 149, 0.5);
}
.navbar ul li:hover a {
  color: #eeeeee;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media screen and (max-width: 550px) {
  .navbar {
    width: 100%;
  }
}/*# sourceMappingURL=articles.css.map */